:host {
  display: block;
  // padding: 2em;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 4.5em);
}

mat-card {
  border-radius: unset;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.words-field {
  width: 100%;
  // &:not(:last-child) {
  margin-bottom: 0.5em;
  // }
}

.btn-submit {
  width: 100%;
}


@media screen and (max-width: 767px) {
  mat-card {
    width: 80%;
  }
}

